{% extends 'base.html.twig' %}

{% form_theme formTarget 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une cîble </h1>

    {{ form_start(formTarget) }}
    {{ form_row(formTarget.name)}}
    {{ form_end(formTarget) }}
    
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter la cîble
        {% endif %}
        </button>



{% endblock %}